<script src="../../../services/Receipt/receipt.service.js"></script>
<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Error 403 - Non Autorisé
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
      <img width="200" src="https://www.iconfinder.com/data/icons/universal-set-for-web-and-mobile/16/tool_sign-512.png" alt="401"/>
      <h2>Vous n'avez pas le droit d'acceder à cette ressource</h2>
  </section>
</div>

