<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{title}}
        </h1>
    </section>

    <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <!-- Box Comment -->
        <div class="box box-widget">
          <div class="box-footer">
            <form action="#" method="post">
              <img class="img-responsive img-circle img-sm" src="./assets/dist/img/user.png" alt="Alt Text">
              <!-- .img-push is used to add margin to elements next to floating images -->
              <div class="img-push">
                <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
              </div>
            </form>
          </div>
          <!-- /.box-body -->

          <!-- /.box-footer -->
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <!-- Box Comment -->
          <div class="box box-widget">

            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="./assets/dist/img/avatar5.png" alt="User Image">
                <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                <span class="description">Shared publicly - 7:30 PM Today</span>
              </div>
              <!-- /.user-block -->

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!--<img class="img-responsive pad" src="./assets/dist/img/photo4.jpg" alt="Photo">-->

              <p>I took this photo this morning. What do you guys think?</p>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <!-- Box Comment -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <!-- Box Comment -->
        <div class="box box-widget">
          <!-- mon tweet -->
          <div class="box-header with-border">
            <div class="user-block">
              <img class="img-circle" src="./assets/dist/img/avatar5.png" alt="User Image">
              <span class="username"><a href="#">Romain le filou</a></span>
              <span class="description">un ptit truc comme ca</span>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>ca marche ou bien ?</p>
          </div>
         </div>
        <!-- /.box -->
      </div>
    </div>
  </section>

</div>
