<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{title}}
        </h1>
    </section>

    <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <input [(ngModel)]="model.min" type="number" name="min" #min="ngModel" placeholder="Min">
        <input [(ngModel)]="model.max" type="number" name="max" #max="ngModel" placeholder="Max">


        <button class=" btn btn-danger" (click)="createUser()">Initialiser les users</button>
        <button class="btn btn-danger" (click)="addFollow()">addFollow</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <!-- Box Comment -->
        <div class="box box-widget">
          <div class="box-footer">
            <form action="#" method="post">
              <img class="img-responsive img-circle img-sm" src="./assets/dist/img/user.png" alt="Alt Text">
              <!-- .img-push is used to add margin to elements next to floating images -->
              <div class="img-push">
                <input type="text" #msg="ngModel" class="form-control input-sm" maxlength="180" name="msg" [(ngModel)]="message.msg" placeholder="Press enter to post comment">
                <button class="btn btn-twitter" [disabled]="!desactiver" (click)="writeTwett()" ><span class="fa fa-twitter"></span></button>
              </div>
              <div class="box-body">
                <span>Timeline recup en {{getTimeline}} ms pour {{nbMessage}} tweets</span>
              </div>
            </form>
          </div>
          <!-- /.box-body -->

          <!-- /.box-footer -->
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div *ngFor="let msg of lesMessages" class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <!-- Box Comment -->
        <div class="box box-widget">

          <div class="box-header with-border">
            <div class="user-block">
              <img class="img-circle" src="./assets/dist/img/avatar5.png" alt="User Image">
              <span class="username"><a href="#">{{msg.userId}}</a></span>
              <span *ngIf="msg.time" class="description">Tweet poste en : {{msg.time}} ms</span>
            </div>
            <!-- /.user-block -->

          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <!--<img class="img-responsive pad" src="./assets/dist/img/photo4.jpg" alt="Photo">-->

            <p>{{msg.message}}</p>
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
      <div class="col-md-6">
        <!-- Box Comment -->

        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <!-- Box Comment -->
          <div class="box box-widget">

            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="./assets/dist/img/avatar5.png" alt="User Image">
                <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                <span class="description">Shared publicly - 7:30 PM Today</span>
              </div>
              <!-- /.user-block -->

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!--<img class="img-responsive pad" src="./assets/dist/img/photo4.jpg" alt="Photo">-->

              <p>I took this photo this morning. What do you guys think?</p>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <!-- Box Comment -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <!-- Box Comment -->
        <div class="box box-widget">
          <!-- mon tweet -->
          <div class="box-header with-border">
            <div class="user-block">
              <img class="img-circle" src="./assets/dist/img/avatar5.png" alt="User Image">
              <span class="username"><a href="#">Romain le filou</a></span>
              <span class="description">un ptit truc comme ca</span>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p>ca marche ou bien ?</p>
          </div>
         </div>
        <!-- /.box -->
      </div>
    </div>
  </section>

</div>
